@inject IWeatherService weatherService
@{
    ViewData["Title"] = "Home Page";
    string sicaklik;
    try
    {
        sicaklik = weatherService.Temperature("ankara") + "°C";
    }
    catch (Exception)
    {

        sicaklik = " İştenilen değerlere ulaşılamamıştır, Daha sonra tekrar deneyiniz!!";
    }
}

<div class="text-center ">
    <h1 class="display-4">Welcome</h1>

    <mesaj kapat-goster="true">Hoşgeldiniz. Şanslı Sayınız : @ViewBag.SansliSayi</mesaj>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewBag.deneme</p>
    @if (sicaklik != null)
    {

    <div>Ankara'da Hava Sıcaklığı:@sicaklik</div>
    }
</div>
